/*
        <div className="#">
          <a>Emne 1</a>
          <a>Emne 2</a>
          <a>Emne 3</a>
        </div>*/

.navbar {
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.6fr 1.2fr 1fr;
}

.logo {
  height: 5rem;
}

.btn {
  height: 3rem;
  width: 9rem;
  border-radius: 1rem;
  background-color: #efefef;
  font-size: 18px;
  color: gray;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-self: center;
  transition: all 0.2s ease-in-out;
}

.userBtn {
  justify-self: center;
}

/*----------progress-shortcut-button----------*/
.shortcutBtn {
  right: 1rem;
}

.progress-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  padding: 0;
  min-width: 20rem;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btn:hover {
  background-color: red;
  color: white;
}

.progress-btndrop {
  font-size: 16px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.progress-dropdown-content li {
  float: none;
  color: grey;
  font-size: 20px;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: start;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.progress-dropdown-content li:hover {
  background-color: #e7e7e7;
}

.progress-btndrop .progress-dropdown-content {
  display: block;
  top: 6.5rem;
}

/*----------account-button----------*/
.account-btndrop {
  font-size: 16px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.accountBtn {
  left: 1rem;
}
