body {
  background-color: #efefef;
  height: 100%;
}

h1 {
  justify-self: center;
}

img {
  max-width: 500px;
  max-height: 250px;
  align-self: center;
  justify-self: center;
}

.bg {
  background: url("../../assets/images/frontpage_bck.png") no-repeat center
    center fixed;
  background-size: cover;
  height: 100%;
  position: fixed;
}

.logo_area {
  display: grid;
  grid-template-columns: 1;
}

.form-controls-inline {
  grid-gap: 0.5rem;
  display: inline-grid;
  align-content: center;
}

.form-controls-inline input {
  size: 100;
  grid-row: 1;
  justify-self: end;
  min-width: 100%;
  width: 40%;
  height: 50px;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  border: 0px;
}

#btn {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  background-color: white;
  min-width: 200px;
  width: 40%;
  height: 50px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
}

#btn:hover {
  background-color: red;
  color: white;
}
#btn:active {
  text-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.3);
}

.owly-text {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.loginForm input,
a {
  width: 40%;
  margin-bottom: 1rem;
}

/*For Dashboard*/
.material-box {
  margin-top: 1.2rem;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*Profile Image*/
.profile-image-outer-container {
  border-radius: 50%;
}
.profile-image-inner-container {
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(to right, #ff4081, #304ffe);
}
.profile-image-inner-container img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.round {
  width: 3rem;
  line-height: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}
.c-pointer {
  cursor: pointer;
}
.h-75vh {
  min-height: 75vh;
}
