body {
  background-color: #efefef;
}

h1 {
  justify-self: center;
}

img {
  max-width: 500px;
  max-height: 500px;
  align-self: center;
  justify-self: center;
}

.wrapper {
  background-image: url("frontpage_bck.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.logo_area {
  height: 400px;
  display: grid;
  grid-template-columns: 1;
}

.form-controls-inline {
  grid-gap: 0.5rem;
  display: inline-grid;
  align-content: center;
}

.form-controls-inline input {
  size: 100;
  grid-row: 1;
  justify-self: end;
  min-width: 200px;
  width: 40%;
  height: 50px;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  border: 0px;
}

#btn {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  background-color: white;
  min-width: 200px;
  width: 40%;
  height: 50px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
}

#btn:hover {
  background-color: red;
  color: white;
}
#btn:active {
  text-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.3);
}

.owly-text {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.loginForm input {
  width: 40%;
  margin-bottom: 1rem;
}
